
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: center;
  background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
}

.container-fluid, .jumbotron{ 
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: center;

}
.card-img-top { 
  max-width: 280px !important; 
  min-height:200px !important; 
  border-radius: 20px !important; 
  padding-top: 20px; 
  justify-content: center !important;
  align-content: center !important;
}
.card {
  float: left;
  align-content: center;
  margin: 10px; 
  height: 450px; 
  min-width: 100%;
  z-index: -1px !important;
  border-radius: 20px !important;
}
/**This is Native CSS Footer*/
footer,
section {
  padding: 50px 0;
  clear: both;
  font-size: 20px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  line-height: inherit;
}

p { 
  text-align: center;
  color: black;
  font-size: 25px; 
}

/*This is Bulma Library Footer*/
#hero-body{
      text-align: center;
      height: 5px;
      position: sticky; 
}

